<div class="container">
  <h1 align="center" class="text-capitalize">
    <%= current_user.name %>'s projects
  </h1>

  <div align="center">
  <%= will_paginate %>
  </div>
  
  <% if @projects.count > 0 %>
    <div class="center-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>

            <th scope="col">Project</th>

            <th scope="col">Created by</th>

            <th scope="col">Type</th>

            <th scope="col">Detail</th>
          </tr>
        </thead>

        <% counter = 1 %>

        <% @projects.each do |project| %>
          <tbody>
            <tr>
              <td>
                <%= counter %>
              </td>

              <td>
                <%= project.name %>
              </td>

              <td>
                <%= project.manager.name %>
              </td>

              <td>
                <%= project.manager.user_type %>
              </td>

              <td>
                <%= link_to "Show", project_path(project) %>
              </td>
            </tr>
          </tbody>

          <% counter += 1 %>
        <% end %>
      </table>
    </div>
  <% else %>
    <h5 align="center">
      No projects to display.
    </h5>
  <% end %>
</div>