<div class="container">
  <h1 align="center" class="text-capitalize"><%=current_user.name%>'s projects </h1>

  <div class="center-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project</th>
        <th scope="col">Created by</th>
        <th scope="col">Typee</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <% counter = 1 %>
    <% @projects.each do |tmp|%>
      <tbody>
        <tr>
          <th scope="row"><%= counter %></th>
          <td><%= tmp.name%></td>
          <td><%= tmp.manager.name%></td>
          <td><%= current_user.typee%></td>
          <td><%=link_to "Show", project_path(tmp)%></td>
        </tr>
      </tbody>
      <% counter += 1 %>
    <%end%>
  </table>
  </div>
</div>