
<h1 align="center">create new project</h1>

<%= form_with model: @project do |f| %>
  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :name %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control",  placeholder: "Name of project", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-2">
      <%= f.label :description %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :description, class: "form-control",  placeholder: "Enter description" %>
    </div>
  </div>
      
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <%= f.collection_check_boxes :user_ids, User.where.not(typee: "manager"), :id, :name do |cb| %>
      <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
  </div> 
    
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit %>
    </div>
  </div>

<%end%> 