<div class="container">
  <h1 align="enter">
    edit page
  </h1>

  <%= form_with model: @bug do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <% if @bug.errors[:title].any? %>
      <p class="error-message">
        Title <%= @bug.errors[:title].join(", ") %>
      </p>
    <% end %>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :deadline %>
      <%= f.datetime_select :deadline, class: "form-control" %>
    </div>

    <% if @bug.solver.nil?%>
      <div class="field">
        <%= f.label :status %>
        <%= f.select :status, Bug.statuses_for_record_type(@bug.bug_type), 
          class: "form-control" %>
      </div>
    <% elsif current_user.id == @bug.solver.id %>
      <div class="field">
        <%= f.label :status %>
        <%= f.select :status, Bug.statuses_for_record_type(@bug.bug_type), 
        class: "form-control" %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    
    <div class="field">
      <%= f.label :solver_id %>
      <%= f.collection_select :solver_id, 
        User.find(@project.project_users.pluck(:user_id)), 
        :id, :name, { include_blank: true, prompt: "Select a solver" }, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "update Bug", class: "btn btn-primary" %>
      <%= link_to "back to project",project_path(@bug.project_id), 
        class: "btn btn-info btn-md" %>
    </div>
  <% end %>
 </div>