<div class="container">
  <h1 align="enter">
    edit page
  </h1>

  <%= form_with model: @bug do |f| %>
    <% if current_user.qa? %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
        
      <% if @bug.errors[:title].any? %>
        <p class="error-message">
          Title <%= @bug.errors[:title].join(", ") %>
        </p>
      <% end %>        
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :deadline %>
        <%= f.date_field :deadline, class: 'datepicker', 
        min: (f.object.created_at.strftime('%Y-%m-%d')) %>
      </div>
    <% end %>
      
    <% if @bug.solver.nil? %>
      <% if current_user.developer? %>
        <div class="field">
          <%= f.label :status %>
          <%= f.select :status, @bug.allow_status, 
            class: "form-control" %>
        </div>
      <% end %>
    <% elsif current_user.id == @bug.solver.id %>
      <div class="field">
        <%= f.label :status %>
        <%= f.select :status, @bug.allow_status, 
        class: "form-control" %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <% if current_user.qa?%>
      <div class="field">
        <%= f.label :solver_id %>
        <%= f.collection_select :solver_id, 
          @project.users.developer, :id, :name, 
          {prompt: "Select a solver" }, class: "form-control" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "update Bug", class: "btn btn-primary" %>
      <%= link_to "back to project",project_path(@bug.project_id), 
        class: "btn btn-info btn-md" %>
    </div>
  <% end %>
 </div>