<h1 align="enter">edit page</h1>

<%= form_with model: @bug do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline, class: "form-control" %>
  </div>



  <div class="field">
    <%= f.label :status %>
      <% if @bug.typee=="feature"%>
      <%= f.select :status, ["new","started", "completed"] , class: "form-control"%>
      <% else %>
      <%= f.select :status, ["new","started","resolved"], class: "form-control"%>
      <% end %>
  </div>
  


  <div class="field">
    <%= f.label :solver_id %>
    <%= f.collection_select :solver_id, User.find(@bug.project.project_users.pluck(:user_id)), :id, :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "update Bug" %>
  </div>
<% end %>
 