<div class="container">
  <h1 align="enter">
    add bug in project: 
    <%= @project.name %>
  </h1>

  <%= form_with model: @bug, url: project_bugs_path(), data: { turbo_frame: true } do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

      <% if @bug.errors[:title].any? %>
        <p class="error-message">
          Title <%= @bug.errors[:title].join(", ") %>
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :deadline %>
      <%= f.date_field :deadline, class: 'datepicker', 
      min: Date.today.strftime('%Y-%m-%d') %>
    </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.select :bug_type, Bug.bug_types.keys,
      class: "form-control" %>
  </div>

  <div class="field" id="bug_status_field">
    <%= f.label :status %>
    <%= f.select :status, ["new", "started", "completed"], class: "form-control" %>
  </div>

  <script>
  document.addEventListener("turbo:load", function() {
    var typeSelect = document.getElementById("bug_bug_type");
    var statusSelect = document.getElementById("bug_status");
    var statusField = document.getElementById("bug_status_field");

    typeSelect.addEventListener("change", function() {
      var selectedType = typeSelect.value;
      var statusOptions = {
        "feature": ["new", "started", "completed"],
        "bug": ["new", "started", "resolved"]
      };
      console.log(selectedType);

      var selectedStatuses = statusOptions[selectedType] || [];
      
      statusSelect.innerHTML = ""; // Clear existing options

      selectedStatuses.forEach(function(status) {
        var option = document.createElement("option");
        option.value = status;
        option.text = status;
        statusSelect.appendChild(option);
      });
      });
    });
  </script>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :solver_id %>
      <%= f.collection_select :solver_id, 
        @project.users.developer, :id, :name, 
        {prompt: "Select a solver" }, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Create Bug", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>  



